/* RESET */
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1b1b1b;
}